@tailwind base;
@tailwind components;
@tailwind utilities;

/* CONFIGURACIÓN BASE */
body { 
    overflow: hidden; 
    background-color: #0F0518;
}

/* EFECTOS CRT Y RETRO (Scanlines & Flicker) */
.scanlines {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2));
    background-size: 100% 4px;
    position: fixed; 
    top: 0; left: 0; right: 0; bottom: 0; 
    pointer-events: none; 
    z-index: 9999;
}

.screen-flicker {
    position: fixed; 
    top: 0; left: 0; right: 0; bottom: 0; 
    pointer-events: none; 
    z-index: 9998;
    background: rgba(18, 16, 16, 0.05);
    animation: flicker 0.15s infinite;
}

/* TEXTURA DE RUIDO (Noise) */
.bg-noise {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
    z-index: 50;
    opacity: 0.03;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* BORDES 3D ESTILO WINDOWS 95 */
.win-border-out {
    border-top: 2px solid #5d4d7a; 
    border-left: 2px solid #5d4d7a;
    border-right: 2px solid #000; 
    border-bottom: 2px solid #000;
    box-shadow: 1px 1px 0px 0px #000;
}

.win-border-in {
    border-top: 2px solid #000; 
    border-left: 2px solid #000;
    border-right: 2px solid #5d4d7a; 
    border-bottom: 2px solid #5d4d7a;
}

.win-btn {
    border-top: 2px solid #fff; 
    border-left: 2px solid #fff;
    border-right: 2px solid #000; 
    border-bottom: 2px solid #000;
}

.win-btn:active {
    border-top: 2px solid #000; 
    border-left: 2px solid #000;
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
}

/* SCROLLBAR PERSONALIZADA */
::-webkit-scrollbar { width: 14px; background: #191523; }
::-webkit-scrollbar-thumb { background: #2D1B4E; border: 2px solid; border-color: #5d4d7a #000 #000 #5d4d7a; }

/* UTILIDADES */
.pixelated { image-rendering: pixelated; }

.hidden-tab { display: none; }
.active-tab { display: block; animation: fadeIn 0.3s ease-in-out; }

/* ANIMACIONES */
@keyframes flicker {
    0% { opacity: 0.97; }
    100% { opacity: 1; }
}

@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(5px); } 
    to { opacity: 1; transform: translateY(0); } 
}

/* Efecto Máquina de Escribir */
.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #56e39f;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret { from, to { border-color: transparent } 50% { border-color: #56e39f; } }
@keyframes typing { 0% { width: 0 } 100% { width: 100% } }